version: "3.8"

services:
  # ---------------- MongoDB ----------------
  mongodb:
    image: mongo:7.0
    container_name: food-mongodb
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
    volumes:
      - mongodb_data:/data/db
    networks:
      - food-network
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 30s
      timeout: 10s
      retries: 3

  # ---------------- Backend ----------------
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: food-backend
    restart: unless-stopped
    environment:
      NODE_ENV: production
      PORT: 4000
      MONGO_URL: mongodb://${MONGO_USER}:${MONGO_PASSWORD}@mongodb:27017/fooddelivery?authSource=admin
      JWT_SECRET: ${JWT_SECRET}
    depends_on:
      mongodb:
        condition: service_healthy
    networks:
      - food-network
    healthcheck:
      test: ["CMD", "wget", "-q", "--spider", "http://localhost:4000/"]
      interval: 30s
      timeout: 10s
      retries: 3

  # ---------------- Frontend ----------------
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: food-frontend
    restart: unless-stopped
    ports:
      - "80:80"
    depends_on:
      backend:
        condition: service_healthy
    networks:
      - food-network

  # ---------------- SonarQube ----------------
  sonarqube:
    image: sonarqube:lts-community
    container_name: food-sonarqube
    environment:
      SONAR_ES_BOOTSTRAP_CHECKS_DISABLE: "true"
    ports:
      - "9000:9000"
    volumes:
      - sonarqube_data:/opt/sonarqube/data
      - sonarqube_logs:/opt/sonarqube/logs
    networks:
      - food-network


  # ---------------- Prometheus ----------------
  #prometheus:
  #  image: prom/prometheus:latest
  #  container_name: food-prometheus
  #  volumes:
  #    - ./prometheus.yml:/etc/prometheus/prometheus.yml
  #    - ./alert-rules.yml:/etc/prometheus/alert-rules.yml
  #  command:
  #    - "--config.file=/etc/prometheus/prometheus.yml"
  #  ports:
  #    - "9090:9090"
  #  networks:
  #    - food-network


# ---------------- Prometheus ----------------
  prometheus:
    build:
      context: .
      dockerfile: prom.Dockerfile
    container_name: food-prometheus
    ports:
      - "9090:9090"
    networks:
      - food-network

  # ---------------- Grafana ----------------
  grafana:
    image: grafana/grafana:latest
    container_name: food-grafana
    ports:
      - "3000:3000"
    depends_on:
      - prometheus
    networks:
      - food-network


# ---------------- Volumes ----------------
volumes:
  mongodb_data:
  sonarqube_data:
  sonarqube_logs:
  grafana_data:

# ---------------- Network ----------------
networks:
  food-network:
    driver: bridge
